/*
Kolory Animatu w przestrzeni RGBA
#9f2067ff fioletowy
#1b75bcff niebieski
#009444ff zielony
#ffde17ff żółty
#f15a29ff pomarańczowy
#ed1c24ff czerwony
*/

/*ładowanie */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8)
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*czcionka, body */
@font-face {
    font-family: TitilliumWeb;
    src: url(src/TitilliumWeb-Regular.ttf);
}
/*czcionka, menu */
@font-face {
  font-family: Ocra;
  src: url(src/ocraextended.ttf);
}

body{
  font-family: TitilliumWeb;
  color: white;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.arrow-bot{
  color: white;
  position: absolute;
  left: 0;
  right: 20px;
  bottom:0;
  transform: rotate(90deg);
  margin: auto;
  z-index: 9999;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: pulseArrow;
}

@keyframes pulseArrow {
  0%{   width: 200px;}
  100%{ width: 100px;}

}

/* menu górne */
#menu{
  font-family: Ocra;
  background-color: #00000000;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 0;
  padding-top: 10px;
  animation-duration: 0.5s;
  opacity: 1;
  display: none;
}

.navbar h3{
    margin-top: 30px;
}

@media (max-width: 920px) {
  .navbar h3{
      font-size: 20px;
      margin-top: 30px;
  }
}

.textCon {
    position: relative;
    text-align: center;
    color: white;
}
.text {
    position: absolute;
    top: 58px;
    left: 12px;
}


.menuText{
  text-align: center;
  padding-bottom: 15px;
}

.active{
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: Underline;
}
@keyframes Underline{
  from{ text-decoration: none;    }
  to{   text-decoration: underline;}
}

/* menu boczne */
.wraper{
  position: fixed;
  right: 0;
  z-index: 1000;
}

#sidebar {
        font-family: Ocra;
        padding-top: 10vh;
        min-width: 250px;
        max-width: 250px;
        margin-right: -240px;
        height: 100vh;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-name: toRight;
        display: none;
        z-index: 1000;
}

#sidebar:hover {
  animation-fill-mode: forwards;
  animation-name: toLeft;
}

@keyframes toLeft{
  from{ margin-right: -240px}
  to{   margin-right: 0}
}
@keyframes toRight{
  from{ margin-right: 0}
  to{   margin-right: -240px}
}


#sidebar img{
  margin-top: 50px;
}

#sidebar .textCon:hover img{
  animation-name: rotateHover;
  animation-fill-mode: forwards;
  animation-duration: 0.5s, 0.3s;
  display: inline;
}
#sidebar .textCon:hover > .text{
  animation-name: rotateHover, textSlide;
  animation-fill-mode: forwards;
  animation-duration: 0.5s, 0.3s;
  display: inline;
}
@keyframes rotateHover{
  from{ transform: rotate(0deg);}
  to  { transform: rotate(-6deg);}
}
@keyframes textSlide{
  from{ top: 58px;}
  to  { top: 68px;}
}

#myNavbar{
  display: none;
}

#mMenu{
  display: none;
  height: 120px;
  width: 100%;
  padding-top: 10px;
  margin: 0 0 0 0;
}

#mobMenu{
  text-align: center;
  display: none;
  padding-top: 5px;
  z-index: 9999;
}

a{
  color: #ffffff;
}
a:hover{
  color: #ffffffcc;
  text-decoration: none;
}
a:active{
  color: #ffffffcc;
  text-decoration: none;
}

.firstImg{
  width: 100%;
  height: 100%;
  filter: blur(7px);
  z-index: 1;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: blurImg;
  position: relative;
}

@keyframes blurImg{
  from{ filter: blur(7px)}
  to  { filter: blur(0px)}
}

.avoidSidebar{
  position: relative;
  text-align: center;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto 220px auto auto;
}

#onas h2{
  font-size: 36px;
}

#uslugi h3{
  margin-top: 0 !important;
  color: white;
  text-align: center;
}

#uslugi h2{
  margin-top: 0 !important;
}

#uslugi span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#uslugi div:hover > span{
  animation-name: spanBorder;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  border-bottom: 0px solid white;

}

@keyframes spanBorder{
  from{ border-bottom-width: 0px;}
  to{ border-bottom-width: 2px;;}
}

#tresc{
  text-align: center;
  display: none;
}

#tresc h4{
  font-weight: bold;
}

#tresc h2, h3, h4{
  margin-top: 15px;
}

#tresc>div>div>div{
  height: 200px;
  border: 1px solid white;
}

#tresc li{
  display: inline-block;
  line-height: 200%;
  width: 70vw;
  list-style-type:none;
  background-image:url(src/kolkoAnimatu.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left;
  position:  relative;
  left: 0;
  right: 0;
  margin: 10px auto;
}
#tresc li p{
  line-height: normal;
  position: relative;
  left: 0; right: 0;
  margin: 0 auto;
  max-width: 400px;
}

#urodziny, #wesela{
  display: none;
}
.contactForm{
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  align-items:  center;
  position:  relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;
}
